@font-face {
  font-family: "AetherMono";
  src: url("fonts/AetherMono-A.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Basics */
body {
  font-family: "AetherMono", monospace;
  margin: 0;
  background-color: white;
  color: #111;
}

/* HEADER */
.site-header {
  position: relative;
  text-align: center;
  padding: 40px 20px 20px;
}

.title {
  margin: 0;
  font-size: 2.8rem;
}

/* Navigation rechts */
.top-nav {
  position: absolute;
  top: 40px;
  right: 40px;
}

.top-nav a {
  font-family: "AetherMono", monospace;
  margin-left: 20px;
  text-decoration: underline;
  font-size: 1rem;
  color: #111;
}

.doc-embed {
  width: 100%;
  height: 100vh;
}

/* Responsive */
@media (max-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .top-nav {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  .top-nav a {
    margin: 0 10px;
  }

  .doc-embed {
    height: 100vh;
  }
}
