@font-face {
  font-family: "AetherMono";
  src: url("fonts/AetherMono-A.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Grundlayout */
body {
  font-family: "AetherMono", monospace;
  margin: 0;
  background-color: #fff;
  color: #111;
}

/* Header */
.site-header {
  position: relative;
  text-align: center;
  padding: 40px 20px;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

/* Navigation rechts oben */
.top-nav {
  position: absolute;
  top: 40px;
  right: 40px;
}

.top-nav a {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 1rem;
  color: #111;
}

/* GOOGLE DOC Styling */

.doc-container {
  width: 100%;
  height: 90vh;
  border: none;
}

/* Mobile Ansicht */
@media (max-width: 700px) {
  .top-nav {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  .top-nav a {
    margin: 0 10px;
  }

  .title {
    font-size: 2rem;
  }

  .doc-embed {
    height: 70vh;
  }
}
